/*大范围区域的背景。例如网页背景*/
@range-bg: linen;
@px: 0.0625rem;
@font-size: 24;
@dark-color: maroon;
@font-color: black;
@shadow-color: gray;

* {margin: 0px; padding: 0px;}
body {background: @range-bg;}
.hide {display:none;}

.gragh-brief {
    position: fixed;
    top: 0;
    right: 0;
    color: lighten(@font-color, 50%);
}

.person {
    float: left;
    background: @range-bg;
    flex: 0 0 auto;
    margin: 0;
    border: 3*@px solid @dark-color;
    padding:2*@px;
    box-shadow: 3*@px 3*@px 5*@px @shadow-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 4.6*@font-size*@px;
    
    .human {
        flex: initial;
        border: 1*@px solid @dark-color;
    }
    .master {
        .human;
        color: @font-color;
        padding: 0.3*@font-size*@px 0.2*@font-size*@px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .name {
            @unit: @font-size;
            font-size: @unit*@px;
            font-weight: bold;
            writing-mode: vertical-rl;
            text-align: justify;
            text-align-last: justify;
            text-justify: inter-character;
            text-shadow: -2*@px 2*@px 3*@px @shadow-color;
            position: relative;
            width: @unit*@px;
            height: 100%;
            flex: 0 1 auto;
        }
    
        @script-unit: 0.5*@font-size;
        .script-box {
            flex: 0 1 auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        }
    
        .script {
            @unit: @script-unit;
            flex: 0 1 auto;
            width: @unit*@px;
            height: 2.5*@unit*@px;
            margin-left: 0.5*@unit*@px;
            font-size: @unit*@px;
            font-weight: normal;
            color: dimgray;
            writing-mode: vertical-rl;
            text-align: justify;
            text-align-last: justify;
            text-justify: inter-character;
        }
        .super-script {
            .script;
        }
        .super-script.char3 {
            @unit: @script-unit;
            height: 3.5*@unit*@px;
        }
        .super-script.char4 {
            @unit: @script-unit;
            height: 4.5*@unit*@px;
        }
        .super-script.char5 {
            @unit: @script-unit;
            height: 5.5*@unit*@px;
        }
        .sub-script {
            .script;
        }
        .sub-script.char3 {
            @unit: @script-unit;
            height: 3.5*@unit*@px;
        }
        .sub-script.char4 {
            @unit: @script-unit;
            height: 4.5*@unit*@px;
        }
        .sub-script.char5 {
            @unit: @script-unit;
            height: 5.5*@unit*@px;
        }
    }

    .servant-list {
        color: dimgray;
        margin: -2*@px 0 0 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        .servant {
            .human;
            margin: 2*@px 0 0 2*@px;
            padding: 2*@px;
            font-size: 0.75*@font-size*@px;
            font-weight: bold;
            text-align: justify;
            text-align-last: justify;
            text-justify: inter-character;
            word-break: keep-all;
        }
    }
}

.person.dead {
    border-color: dimgray;
    outline-color: dimgray;
    color: dimgray;
}
.space-between-person {
    float: left;
    opacity: 0;
    min-height: 10*@px;
    width: 20*@px;
    flex: 0 0 auto;
}

.graph {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 20*@px;

    .level {
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .space-between-level {
        flex: 0 1 auto;
        height: 40*@px;
    }
}

.hline {
    position: absolute;
    height: 2*@px;
    background-color: dimgray;
}
.vline {
    position: absolute;
    width: 2*@px;
    background-color: dimgray;
}

.couple-box {
    position: absolute;
    z-index: -1;
    height: 5.6*@font-size*@px;
    background-color: lightpink;
    border: 2*@px solid gray;
    box-shadow: 0.3*@font-size*@px 0.3*@font-size*@px 0.4*@font-size*@px lighten(@shadow-color,30%);
}